@import url(./fonts.css);

:root {
    --Montserrat: 'Montserrat';
    --body: #fff;
    --text: #232320;
    --carousel-dots: #828282;
    --main__top-btn: #7177F1;
    --myworks-tab: #fff;
    --link: #7177F1;
    --tab-text: #fff;
    --p-text: #323232;
    --menu: #151437;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400px;
    background-color: var(--body);

}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}


.header {
    margin-bottom: 70px;
}

.header__nav {
    padding: 13px 0 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

}

.header__nav-wrapper {
    display: flex;
    align-items: center;
}

.header__logo {
    position: relative;
}
.header__logo::before{
    content: url(../img/logo-light.png);
    position: absolute;
    left: 0;
    top: -20px;
    transform: scale(1);
}

.header__logo>img {
    width: 190px;
    height: auto;
}
.header__nav-list {
    display: flex;
    align-items: center;
}

.header__nav-item:not(:last-child) {
    margin-right: 30px;
}

.header__nav-link {
    display: block;
    font-size: 24px;
    line-height: 16px;
    text-transform: capitalize;
    color: #7177F1;
}

.header__nav-link.default__btn {
    font-size: 24px;
}

.default__btn {
    display: inline-block;
    width: 190px;
    padding: 10px 0;
    background-color: #7177F1;
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    font-size: 18px;
    line-height: 16px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-align: center;
    transition: .3s all;
}

.default__btn:hover {
    color: #fff;
    background-color: #8c91f3;
}

.header__phone {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #7177F1;
    border: 2px solid #7177F1;
    border-radius: 5px;
    margin-left: 58px;
    transition: .3s all;
}

.header__phone:hover {
    color: #858bf1;
    border-color: #858bf1;
}

.navbar-light .navbar-toggler {

    border-color: white;
}

.navbar-toggler {
    border: none !important;
    outline: none !important;
    padding: 0 !important;
    box-shadow: unset !important;
    height: 20px;
    width: 32px;
    position: relative;
    transform: translateY(10px);
}

.header__menu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
    border: none !important;
    outline: none !important;
    display: block;
    visibility: visible;
    transition: .3s;
}
.navbar-toggler:not(.collapsed)>.header__menu{
    visibility: hidden;
    background-color: transparent;
}
.header__menu,
.header__menu::before,
.header__menu::after{
    content: '';
    left: 0;
    width: 32px;
    height: 1px;
    background-color: var(--menu);
    border-radius: 0.5px;
}
.header__menu::before{
    position: absolute;
    top: -7px;
    transition: .5s;
}
.navbar-toggler:not(.collapsed)>.header__menu::before{
    transform: rotate(-45deg) translateY(9px);
    visibility: visible;
}
.header__menu::after{
    position: absolute;
    bottom: -7px;
    transition: .5s;
}
.navbar-toggler:not(.collapsed)>.header__menu::after{
    transform: rotate(45deg) translateY(-9px);
    visibility: visible;
}
.corusel__item-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.corusel__item-left,
.corusel__item-right {
    width: 48%;
}

.subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    text-transform: capitalize;
    color: var(--text);
    margin-bottom: 10px;

}

.title {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    text-transform: capitalize;
    color: #7177F1;
    margin-bottom: 25px;
}

.header__btn {
    max-width: 299px;
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

.header__emblems {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.header__emblems-item>img {
    width: 77px;
    height: auto;
    margin-bottom: 15px;

}

.header__emblems-item:last-child>img {
    width: 90px;

}

.header__emblems-item>h5 {

    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #7177F1;

}

.corusel__item-right>img {
    width: 100%;
    height: auto;
}

.carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    background-color: var(--carousel-dots);
    border-radius: 50%;
    margin: 0 15px;
}

.carousel-indicators .active {
    background-color: #7177F1;
}

/* ************************************MAIN START******************************** */
.frontend::after{
    content: url(../img/Group\ 21.png);
    position: absolute;
    top: -495px;
    right: 0;
    max-width: 800px;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    object-fit: cover;
}
.main{
    position: relative;
}

.main__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}

.main__top-left {
    width: 49%;
    position: relative;
}

.main__wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
}



.main__btn {
    padding: 24px 20px;
    background-color: var(--main__top-btn);
    color: var(--p-text);

}


.main__btn-text {
    position: absolute;
    bottom: 40px;
    left: 160px;
    background-color: aqua;
    border-radius: 50%;
    padding: 11px 9px;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main__top-right {

    width: 49%;
    background: var(--body);
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;

}

.main__right-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 30px;
    text-transform: capitalize;
    color: #7177F1;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;

}

.main__right-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-transform: capitalize;
    color: var(--text);
    margin-left: 30px;
    margin-bottom: 44px;
    padding-right: 15px;
}

.main__right-btn {
    margin-left: 100px;
    margin-bottom: 30px;

}
.main__center{
    position: relative;
}
.main__center::after{
    position: absolute;
    content: '';
    top: 50px !important;
    left: 50px;
    width:15vh;
    height: 15vh;
    z-index: -1;
    border: 2vh solid #790FF1;
    border-radius: 50%;
    animation-name: circle-2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.main__center::before{
    content: '';
    position: absolute;
    top: 20px !important;
    right: 50px;
    width: 15vh;
    height: 15vh;
    z-index: -1;
    border: 2vh solid #790FF1;
    border-radius: 50%;
    animation-name: circle-3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.main__center-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__center__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    text-transform: capitalize;
    color: #7177F1;
    margin-bottom: 30px;

}

.main__center-left {
    width: 48%;
}

.main__center-btn {

    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px 8px 8px 8px;

}

.main__center-img {
    width: 25px;
    height: auto;
}

.main__wrapper-btn {
    background-color: var(--body);
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
}

.main__wrapper-btn1 {


    border-radius: 8px 8px 0 0;
}

.main__wrapper-btn2 {


    border-radius: unset;
}

.main__wrapper-btn3 {


    border-radius: 0px 0px 8px 8px;
}

.accordion-button:focus {
    box-shadow: none;
}


.accordion-button:not(.collapsed) {
    background: #7177F1;
    box-shadow: none;
    border-radius: 8px 8px 0 0;
    border-bottom: unset;
}

.accordion-button:not(.collapsed)>.main__center-info {
    color: white;

}

.main__center-wrapper {
    border-bottom: 1px solid white;
    background: #DDDDDD;
    border-radius: 8px;

}


.main__center-text {
    background-color: #7177F1;
    border-radius: 0 0 8px 8px;
}

.main__center-info {
    margin-left: 15px;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
    color: #7177F1;
}

.main__center-text {
    font-size: 18px;
    line-height: 150%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.main__center-right {
    width: 50%;
}

.main__bottom {
    margin-top: 70px;
}

.main__tab {
    border-radius: 8px;
    background-color: var(--myworks-tab);
    overflow: hidden;


}

.nav-pills .nav-link,
.nav-pills .show>.nav-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #7177F1;
    border-radius: unset;
    padding: 19px 20px;
    text-align: left;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #7177F1;
    color: var(--tab-text);
}

.main__tab-content {
    background-color: var(--body);
    border-radius: 8px;
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    padding: 20px;

}


.main__bottom-left {
    width: 25%;
}

.main__tab-content-inner>h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    margin-bottom: 25px;
    color: #7177F1;
}

.main__tab-content-inner>p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--p-text);
    margin-bottom: 20px;
    text-transform: capitalize;


}

.main__bottom-link {
    display: flex;
    align-items: center;
    height: 63px;
    background: #151437;
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 0px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #7177F1;
}

.list-group-item.active {
    background-color: #151437;
    color: #7177F1;
    border: none;
}

.list-group-item-action:focus,
.list-group-item-action:hover {
    background: #7177F1;


}

.main__bottom-right {
    border-radius: 8px;
    box-shadow: 0 0 5px 3px rgba(72, 76, 155, 0.15);
    margin-bottom: 200px;
}



.main__bottom-wrapper {
    display: flex;
    max-width: 820px;
    width: 100%;
    padding: 20px;
    background: #151437;
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    margin-bottom: 15px;
}

.main__bottom-wrapper:last-child {
    margin-bottom: 220px;
}

.main__bottom-wrapper>img {
    max-width: 250px;
    width: 100%;
}


.main__bottom-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: #7177F1;
    margin-left: 30px;
}

.main__bottom-text {
    margin-top: 19px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-left: 30px;
}

.main__bottom-info {
    display: block;
    margin-top: 10px;
}

.main__bottom-btn {
    margin-top: 30px;
    margin-left: 60px;

}
.main__bg-img2{
    position: absolute;
    top: 1000px;
    left: 0;
    z-index: -1;
    overflow: hidden;
    object-fit: cover;
    max-width: 900px;
    width: 100%;
}

/* ***********************FOTER START********************* */

.footer__content {
    margin-top: 220px;
    margin-bottom: 130px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 30px;
}

.footer__items-1 {
    max-width: 630px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 160px;
    margin-bottom: 15px;
}

.footer__items-img {
    width: 190px;
    height: auto;
    position: relative;
}

.footer__items-2 {
    width: 630px;
    display: flex;
    justify-content: flex-end;
    margin-right: 125px;
    margin-bottom: 15px;


}

.footer__items-link {
    margin-right: 30px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-decoration-line: underline;
    text-transform: capitalize;
    color: var(--link);
    text-decoration: none;
    transition: 0.5s;
}

.footer__items-link::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--link);
    margin-top: 2px;
    display: block;
    transform: scaleX(0);
    transition: .5s;

}

.footer__items-link:hover.footer__items-link::after {
    transform: scaleX(1);
    color: var(--link);
}

.footer__items-2>a:hover {
    color: var(--link);
}

.footer__items-3 {
    width: 630px;
    display: flex;
    justify-content: flex-end;

}

.footer__items-3>a {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: capitalize;
    color: var(--link);
    text-decoration: none;
}

.footer__contact {
    margin-right: 30px;
}

.footer__items-img::before {
    content: url(../img/logo-light.png);
    position: absolute;
    transform: scale(1);
    top: -28px;
}

.animation-square {
    position: fixed;
    top: 82px;
    right: 160px;
    width: 99px;
    height: 99px;
    border: 5px solid #790FF1;
    animation-name: square;
    animation-duration: 10s;
    z-index: -1;
    animation-delay: 2s;
    animation-iteration-count: infinite;

}

.animation-circle {
    position: absolute;
    top: 43px;
    left: 50px;
    width: 60px;
    height: 60px;
    border: 5px solid #790FF1;
    border-radius: 50%;
    animation-name: circle;
    animation-duration: 10s;
    z-index: -1;
    animation-iteration-count: infinite;

}
.animation-romb-1{
    position: absolute;
    top: 60px;
    left: 30px;
    width: 80px;
    height: 80px;
    z-index: -1;
    border: 5px solid #790FF1;
    transform: rotate(130deg);
    animation-name: romb-1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.animation-romb-2{
    position: absolute;
    top: 300px;
    right: 50px;
    width: 80px;
    height: 80px;
    z-index: -1;
    transform: rotate(130deg);
    border: 5px solid #790FF1;
    animation-name: romb-2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/* *************ANIMATION************** */

@keyframes square {
    0% {
        right: 160px;

    }

    25% {
        top: 0;
        right: 50%;
        transform: rotate(1000deg);
    }
    50% {
        top: 300px;
        right: 90%;
        transform: rotate(-500deg);
    }
    75% {
        top: 600px;
        right: 50%;
        transform: rotate(-1000deg);
    }
     
    100% {
        right: 160px;

        transform: rotate(-500deg);
    }
}


@keyframes circle {
    0% {
        left: 50px;
        top: 43px;
    }

    25% {
        border-color: #5488b8;
        top: 400px;
        left: 50px;
    }

    50% {
        border-color: #54b892;
        top: 400px;
        left:85%;
    }

    75% {
        border-color: #9db854;
        top: 43px;
        left: 85%;
    }

    100% {
        border-color: #790FF1;;
        left: 50px;
        top: 43px;
    }

}
@keyframes romb-1{
    0%{
        top: 60px;
    }
    50%{
        top: 300px;
    }
    100%{
        top: 60px;
    }
}
@keyframes romb-2{
    0%{
        top: 300px;
        
    }
    50%{
        top: 60px;
    }
    100%{
        top: 300px;
    }
}
@keyframes circle-2{
    0%{
        top: 1300px;
        left: 50px;
    }
    50%{
        top: 1300px;
        left: 90%;
    }
    100%{
        top: 1300px;
        left: 50px;
    }
}
@keyframes circle-3{
    0%{
        top: 1300px;
        right:50px;
    }
    50%{
        top: 1300px;
        right: 90%;
    }
    100%{
        top: 1300px;
        right: 50px;
    }
}
